<div class="text-sm-center">
  <%= will_paginate @articles %>
</div>
<div class="row clearfix">
  <div class="col-sm-8 col-sm-offset-2">
    <% @articles.each do |article| %>
      <div class="card">
        <div class="card-block clearfix">
          <h4 class="card-title article-title"><%= link_to article.title, article %>
            <span class="like text-sm-right">
              <%= link_to like_article_path(article), method: :get do %>
                <span class="fa fa-heart"> <%= article.get_upvotes.size %></span>
              <% end %>
            </span>

          </h4>

          <small class="text-muted"><%= article.created_at.strftime("%B, %d, %Y")  %></small>
          <p class="card-text article-body"><%= @markdown.render(article.body).html_safe %></p>
        </div>

        <p class="tag">
          Tags: <%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        </p>

        <p>
          <span class="fa fa-eye index-view-page text-muted"> <%= article.impressionist_count(:filter=>:session_hash) %>
          </span>
        </p>



        <div class="article-actions text-sm-right clearfix">
          <small class="time-submit text-muted">Submitted <%= time_ago_in_words(article.created_at) %> ago, by <%= article.user.email %></small>
            </div>
      </div>
      <br>
    <% end %>
  </div>

  <div class="tag_cloud pull-sm-right col-sm-2">
    <% tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
</div>

<div class="text-sm-center">
  <%= will_paginate %>
</div>
