<h2 align="center" class="title-show">
  <%= @article.title %>
</h2>

<div class="card col-sm-8 col-sm-offset-2">
    <div class="content-show clearfix">
      <%= simple_format(@article.body) %>
      <p class="tag-show">
        Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </p>
      <span class="fa fa-eye view-page text-muted">        <%= @article.impressionist_count %>
      </span>
      <span class="like-show text-sm-right">
        <%= link_to like_article_path(@article), method: :put do %>
          <span class="fa fa-heart"> <%= @article.get_upvotes.size %></span>
        <% end %>
      </span>
    </div>


    <div class="article-actions text-sm-right clearfix">
      <small class="time-submit-show text-muted">Submitted <%= time_ago_in_words(@article.created_at) %> ago, by <%= @article.user.email %></small>
      <% if user_signed_in? && @article.user_id == current_user.id  %>
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete', article_url(@article), method: :get, data: { confirm: "Are you sure you want to delete this article?" }, class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>
</div>

<div class="card col-sm-8 col-sm-offset-2 comment">
  <% if @article.comments.count > 0 %>
    <h2 style="padding-top: 7px;"><%= @article.comments.count %> Comments</h2>
  <% else %>
    <h2 style="padding-top: 7px;"><%= @article.comments.count %>                   Comment </h2>
  <% end %>

  <hr>
  <%= render @article.comments %>
  <h3>Add a comment:</h3>
  <div class="comment-wrapper">
    <%= render 'comments/form' %>
  </div>
</div>



